<h1>🛠 Admin — Products</h1>


<div class="panel">
  <h3>Add product</h3>

  <div class="form">
    <label>
      Name
      <input [(ngModel)]="name" placeholder="Cappuccino" />
    </label>

    <label>
      Description
      <input [(ngModel)]="description" placeholder="Double espresso + foam" />
    </label>

    <label>
      Price (€)
      <input type="number" step="0.01" [(ngModel)]="priceEuros" />
    </label>

    <label>
      Image URL (optional)
      <input [(ngModel)]="imageUrl" placeholder="https://..." />
    </label>

    <button (click)="create()" [disabled]="saving">
      {{ saving ? 'Saving...' : 'Create' }}
    </button>
  </div>
</div>

<hr />

<div *ngIf="loading">Loading products...</div>

<div class="list" *ngIf="!loading">
  <div class="row" *ngFor="let p of products">
    <div class="info">
      <b>{{ p.name }}</b>
      <div class="muted">{{ p.description }}</div>
      <div><b>{{ p.priceCents / 100 | number:'1.2-2' }} €</b></div>
    </div>

    <button class="danger" (click)="deactivate(p.id)">
      Deactivate
    </button>
  </div>
</div>
